/*fieldset {
	border-style: solid;
	border-color:  var(--primary-color, #8393C3);
	border-width: 3px;
	max-width:580px;
	padding: 5px;
	margin: 10px;
}*/
/* Forms */
#RSSFeederForm fieldset {
	border: 1px solid var(--primary-color, #8393C3);
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
	max-width: 580px;
}

#RSSFeederForm fieldset.nested {
	margin: 0 0 0.5em 0;
	padding: 0 0.5em 0.5em;
}

#RSSFeederForm legend {
	padding: .5em;
	font-size: 95%;
	width: auto;
	border: none;
	margin: 0;
	display: block;
	line-height: inherit;
	box-sizing: inherit;
	float: none;
}

#RSSFeederForm form {
	border: none;
	margin: 0;
}

#RSSFeederForm button {
	/*background-image*/
	background-image: url(images/bs-icon-rss.png);
	background-repeat: no-repeat;
	background-position: 4px center;

	border-radius: 4px;
	border: 1px solid var(--primary-color--hover, #6E7B96);
	display: inline-block;
	width: 90px;
	height: 28px;
	cursor: pointer;

	padding-left: 15px;
	padding-bottom: 2px;
	margin: 0 0 0 .5rem;

	float: right;
}

#RSSFeederForm button:focus,
#RSSFeederForm input[type="checkbox"]:focus,
#RSSFeederForm .selectbox:focus {
	outline: var(--bs-focus-ring-width) solid var(--bs-focus-ring-color);
}

#divFeedPage {
	display: inline-block;
}

#RSSFeederForm #followPage {
	height: 28px;
	margin-top: 3px;
}

#RSSFeederForm label {
	display: inline-block;
	width: 150px;
	zoom: 1;
}
#RSSFeederForm .x-form-item-label {
	display: none;
}
#RSSFeederForm label.label_use_auto_width {
	width: auto;
}
#RSSFeederForm select {
	border: 0.5px solid #79797978;
	background: none;
	margin: 0;
	color: inherit;
	font: inherit;
	width: 250px;
	height: 1.5rem;
}

